In [3]:
import pandas as pd

In [15]:
US_HEV_SALES_by_model= pd.read_csv("C:/Users/nainy/Documents/nss_dda16/new_Capstone/data/New folder/US_HEV_SALES_BY_MODEL_1990_2029_Modified.csv")

In [17]:
US_HEV_SALES_by_model

,Vehicle,1999,2000,2001,2002,2003,2004,2005,2006,2007,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Honda Insight,17,"3,788","4,726","2,216","1,168",583,666,722,3,...,"20,962","15,549","5,846","4,802","3,965","1,458",75,3,"12,510","23,686"
1,Toyota Prius,NAN,"5,562","15,556","20,119","24,627","53,991","107,897","106,971","181,221",...,"140,928","136,463","223,906","222,140","194,108","180,603","134,155","87,725","59,995","47,862"
2,Honda Civic,NAN,NAN,NAN,"13,707","21,771","26,013","25,864","31,253","32,575",...,"7,336","4,703","7,156","7,719","5,070","4,887",896,65,6,NAN
3,Ford Escape/Mercury Mariner,NAN,NAN,NAN,NAN,NAN,"2,993","15,960","22,549","25,108",...,"12,088","10,089","1,441",NAN,NAN,NAN,NAN,NAN,NAN,NAN
4,Honda Accord,NAN,NAN,NAN,NAN,NAN,653,"16,826","5,598","3,405",...,NAN,NAN,NAN,996,"13,977","11,065","9,179","22,008","17,188","23,817"
5,Toyota Highlander,NAN,NAN,NAN,NAN,NAN,NAN,"17,989","31,485","22,052",...,"7,456","4,549","5,921","5,070","3,621","4,015","5,976","16,864","14,513","18,248"
6,Lexus RX 450h,NAN,NAN,NAN,NAN,NAN,NAN,"20,674","20,161","17,291",...,"15,119","10,723","12,223","11,307","9,351","7,722","8,561","8,568","15,656","16,116"
7,Toyota Camry,NAN,NAN,NAN,NAN,NAN,NAN,NAN,"31,341","54,477",...,"14,587","9,241","45,656","44,448","39,515","30,640","22,227","20,985","22,914","26,043"
8,Lexus GS 450h,NAN,NAN,NAN,NAN,NAN,NAN,NAN,"1,784","1,645",...,305,282,607,522,183,91,70,50,40,7
9,Nissan Altima,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,"8,388",...,"6,710","3,236",103,NAN,NAN,NAN,NAN,NAN,NAN,NAN
10,Lexus LS 600hL,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,937,...,129,85,54,115,65,47,40,NAN,211,187
11,Saturn Vue,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,"3,969",...,50,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN
12,"Tahoe, Yukon, Escalade",NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,...,"3,857","1,877","1,801","1,036",137,25,NAN,NAN,NAN,NAN
13,Chevrolet Malibu,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,...,405,24,"16,664","13,779","1,018",59,"4,335","4,452","2,447","1,237"
14,Saturn Aura,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,...,55,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN
15,Aspen & Durango,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,...,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN
16,Silverado & Sierra,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,...,"2,393","1,165",940,169,30,3,NAN,1,NAN,NAN
17,Ford Fusion & Milan,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,...,"22,232","11,286","14,100","37,270","35,425","24,681","33,648","57,474","54,157","49,603"
18,Lexus HS 250h,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,...,"10,663","2,864",650,5,NAN,NAN,NAN,NAN,NAN,NAN
19,Mercedes S400,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,...,955,309,121,64,10,1,NAN,NAN,NAN,NAN
20,Mercedes ML450,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,...,766,1,22,11,20,10,NAN,NAN,NAN,NAN
21,Mercedes E320,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,...,NAN,59,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN
22,Mazda Tribute,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,...,655,484,90,NAN,NAN,NAN,NAN,NAN,NAN,NAN
23,BMW X6 & Activehybrid 3&5&7,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,...,350,381,"1,040","1,456",308,63,64,NAN,NAN,NAN
24,Honda CRNANz,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,...,"5,249","11,330","4,192","4,550","3,562","3,073","2,338",705,38,2
25,Lincoln MKZ,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,...,"1,192","5,739","6,067","7,469","10,033","8,403","7,219","5,931","4,407","5,147"
26,Porsche Cayenne,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,...,206,"1,571","1,180",615,650,NAN,NAN,NAN,NAN,NAN
27,Lexus CT 200h,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,...,NAN,"14,381","17,671","15,071","17,673","14,657","8,903","4,690",4,NAN
28,VW Touareg,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,...,NAN,390,250,118,30,16,1,NAN,NAN,NAN
29,Infinity Q70 (formerly M Hybrid),NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,...,NAN,378,691,475,180,176,118,58,22,NAN
30,Hyundai Sonata,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,...,NAN,"17,366","20,754","21,559","21,052","19,908","18,961","10,338","4,526","2,636"
31,Buick LaCrosse,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,...,NAN,"1,801","12,010","7,133","7,353","4,042",765,506,"2,809","1,057"
32,Buick Regal,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,...,NAN,123,"2,564","2,893",662,186,45,6,NAN,NAN
33,Porsche Panamera S,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,...,NAN,52,570,113,NAN,NAN,NAN,NAN,NAN,NAN
34,Kia Optima,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,...,NAN,NAN,"10,245","13,919","13,776","11,492","6,142","5,589","5,924","1,054"
35,Acura ILX,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,...,NAN,NAN,972,"1,461",379,22,1,NAN,NAN,NAN
36,Ford CNANMax Hybrid,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,...,NAN,NAN,"10,935","28,056","19,162","14,177","11,877","10,221","6,101",38
37,Lexus ES Hybrid,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,...,NAN,NAN,"7,027","16,562","14,837","11,241","7,645","5,394","5,250","8,608"
38,Audi Q5 Hybrid,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,...,NAN,NAN,270,854,283,97,18,NAN,NAN,NAN
39,Toyota Avalon,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,...,NAN,NAN,747,"16,468","17,048","11,956","8,451","4,990","8,008","6,552"
40,VW Jetta,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,...,NAN,NAN,162,"5,655","1,939",740,709,70,1,NAN
41,Mercedes E400h,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,...,NAN,NAN,NAN,282,158,53,14,3,NAN,NAN
42,Infiniti Q50,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,...,NAN,NAN,NAN,307,"3,456","4,012","1,998",870,300,129
43,Chevrolet Impala Hybrid,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,...,NAN,NAN,NAN,56,565,272,35,1,NAN,NAN
44,Infiniti QX60,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,...,NAN,NAN,NAN,676,"1,678","2,356","1,114",298,NAN,NAN
45,Nissan Pathfinder Hybrid,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,...,NAN,NAN,NAN,334,"2,480","2,245",816,389,NAN,NAN
46,Subaru XV,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,...,NAN,NAN,NAN,NAN,"7,926","5,589","2,173",45,NAN,572
47,Acura RLX,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,...,NAN,NAN,NAN,NAN,133,250,199,292,690,451
48,Lexus NX Hybrid,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,...,NAN,NAN,NAN,NAN,354,"2,573","2,842","3,323","9,062","9,649"
49,Toyota RAV4,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,...,NAN,NAN,NAN,NAN,NAN,"1,494","45,070","50,559","48,122","92,525"
50,Acura NSX,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,...,NAN,NAN,NAN,NAN,NAN,NAN,269,581,170,238
51,Kia Niro,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,...,NAN,NAN,NAN,NAN,NAN,NAN,NAN,"27,237","25,743","18,336"
52,Hyundai Ioniq Hybrid,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,...,NAN,NAN,NAN,NAN,NAN,NAN,NAN,"10,770","13,068","15,558"
53,Acura MDX Hybrid,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,...,NAN,NAN,NAN,NAN,NAN,NAN,NAN,"1,807","2,106","2,130"
54,GMC Sierra Hybrid,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,...,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,"3,643",114
55,Lexus LC500h,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,...,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,102,37
56,Nissan Rogue Hybrid,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,...,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,"3,363","4,205"
57,Lexus LS 500h,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,...,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,123,NAN
58,Lexus UX,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,...,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,"8,603"
59,Toyota Corolla,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,...,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,"16,299"

In [9]:
US_HEV_SALES.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 22 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Vehicle  60 non-null     object
 1   1999     60 non-null     object
 2   2000     60 non-null     object
 3   2001     60 non-null     object
 4   2002     60 non-null     object
 5   2003     60 non-null     object
 6   2004     60 non-null     object
 7   2005     60 non-null     object
 8   2006     60 non-null     object
 9   2007     60 non-null     object
 10  2008     60 non-null     object
 11  2009     60 non-null     object
 12  2010     60 non-null     object
 13  2011     60 non-null     object
 14  2012     60 non-null     object
 15  2013     60 non-null     object
 16  2014     60 non-null     object
 17  2015     60 non-null     object
 18  2016     60 non-null     object
 19  2017     60 non-null     object
 20  2018     60 non-null     object
 21  2019     60 non-null     object
dtypes: object(22)
memory usage: 10.4+ KB

In [11]:
US_HEV_SALES.isna().sum()

Vehicle    0
1999       0
2000       0
2001       0
2002       0
2003       0
2004       0
2005       0
2006       0
2007       0
2008       0
2009       0
2010       0
2011       0
2012       0
2013       0
2014       0
2015       0
2016       0
2017       0
2018       0
2019       0
dtype: int64